{% extends "post/base.html"%}
{%load crispy_forms_tags%}

{% block content%}

   <div class="main-container">
       <div class="topbar">
            <h1 class="title">Logout from NoteWave</h1>
        </div>
        

        <p> Hi {{user.username}},<br> Are you sure that you want to log out of your account?</p>

        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Logout</button>
        </form>
    </div>
{%endblock%}